body {
  background-color: #f8f9fa !important;
  color: rgb(43, 43, 43);
}

/* .container {
  max-width: 960px;
  position: relative !important;
  top: -5% !important;
} */

.pricing-header {
  max-width: 700px;
}

/* ////////////////////////////// ESTILOS ////////////////////////////// */
.contenido{
  /* display: flex !important; */
  /* align-items: center !important; */
  height: 100vh !important;
}

.footerino {
  position: absolute !important;
  bottom: 0px !important;
  right: 10% !important;
}


